* {
    margin: 0;
    padding: 0;
    color: inherit;
    font-size: 1em;
    line-height: 2;
    box-sizing: border-box;
    background: none;
    border: none;
}

body {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #000;
}

#wall-container {
    position: relative;
    flex: 1;
    margin: 1em;
    overflow: hidden;
}

.wall-cell {
    overflow: visible;
}

.pixel,
.toolbar-button {
    border: solid 1px #222;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3),
        inset 0 1px 2px rgba(255, 255, 255, .5),
        inset 0 -1px 2px rgba(0, 0, 0, .5);
    outline: none;
}

.pixel:focus,
.toolbar-button:focus {
    border: solid 1px #000;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .3),
        inset 0 2px 2px rgba(255, 255, 255, .5),
        inset 0 -2px 2px rgba(0, 0, 0, .5);
}

.pixel {
    display: block;
    margin: 2%;
    width: 96%;
    height: 96%;
}

.circle .pixel {
    border-radius: 50%;
}

.rect .pixel {
    border-radius: 10%;
}

#wall-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#toolbar {
    padding: 0 0 1em;
    text-align: center;
    white-space: nowrap;
}

.toolbar-button {
    display: inline-block;
    margin: 0 .5em;
    padding: 0 1em;
    background-color: #EEE;
    border-radius: 6px;
}

#settings-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #444;
    overflow: auto;
    background-color: rgba(255, 255, 255, .2);
    backdrop-filter: blur(5px);
}

#settings-window {
    width: 20em;
    margin: 1em auto;
    padding: .8em 0;
    text-align: center;
    background-color: rgba(255, 255, 255, .8);
    border: solid 1px #555;
    border-radius: 6px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .5);
}

.settings-label {
    display: inline-block;
    width: 50%;
    margin: .5em 0;
    padding-right: 1em;
    text-align: right;
    white-space: nowrap;
}

.settings-input {
    display: inline-block;
    width: 6em;
    text-align: center;
}

.settings-input[type='number'] {
    border-bottom: solid 1px currentColor;
    outline: none;
}

.settings-input:invalid {
    color: #E00;
}

.settings-button {
    margin: .5em;
    padding: 0 1em;
    border: solid 1px currentColor;
    border-radius: 5px;
    outline: none;
    user-select: none;
}

.settings-input:focus,
.settings-button:focus {
    color: #000;
}
